* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img {
    height: 150px;
    margin-top: 30px;
}

#main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.div1 {
    width: 27%;    
    background-color: white;
    margin-top: 50px;
    /* border: 1px solid black; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text1 {
    width: 100%;
    color: #044804;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.input {
    height: 30px;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    border: 1px solid black;
    display: none;
}

.input1 {
    height: 30px;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 10px;
    display: none;
}

.price{
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.button1 {
    height: 35px;
    width: 50px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    border: transparent;
    margin-top: 15px;
}

.button2 {
    height: 35px;
    width: 80px;
    border-radius: 5px;
    background-color: #044804;
    color: white;
    border: transparent;
    margin-left: 15px;
    margin-top: 15px;
}
.button3 {
    height: 35px;
    width: 80px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: transparent;
    margin-left: 15px;
    margin-top: 15px;
}

.button4 {
    height: 35px;
    width: 150px;
    border-radius: 5px;
    background-color: #ff9f00;
    color: white;
    border: transparent;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Add to Cart */

.cartImg{
    height: 70px;
}

.Addtocart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
