* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration {
    height: 500px;
    width: 30%;
    background-color: white;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    height: 95%;
    width: 95%;
    border: 1px solid black;
}