*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#mainDiv{
    width: 80%;
    margin-left: 10%;
}

.item_div{
    height: auto;
    width: 27%;
    margin-top: 50px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border-radius: 15px;
    color: black;
}

.item_div img{
    height: 300px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.btn1{
    height: 45px;
    width: 40%;
    font-size: 20px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    transition-duration: 0.5s;
}

.btn1:hover{
    background-color: transparent;
    border: 1px solid blue;
    color: blue;
}

.input_box{
    width: 80%;
    height: 35px;
    border-radius: 10px;
    margin-top: 15px;
    display: none;
    margin-left: 10%;
    border: 1px solid black;
}

.btn2{
    height: 45px;
    width: 40%;
    margin-left: 15px;
    font-size: 20px;
    border-radius: 15px;
    background-color: green;
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    transition-duration: 0.5s;
}

.btn2:hover{
    background-color: transparent;
    border: 1px solid green;
    color: green;
}
.btn3{
    height: 45px;
    width: 40%;
    margin-left: 15px;
    font-size: 20px;
    border-radius: 15px;
    background-color: red;
    color: white;
    margin-bottom: 30px;
    transition-duration: 0.5s;
}

.btn3:hover{
    background-color: transparent;
    border: 1px solid red;
    color: red;
}

#recipe-container{
    display: none;
    height: 100px;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}
